---
---

@import "{{ site.theme }}";

.code {
  line-height: 1;
}

#page {
  display: grid;
  
  grid-template: "header"
                 "main"
                 "nav"
                 "footer";

  @media (min-width:43rem) {
    grid-template: "header header header"
                   "main main nav"
                   "footer footer footer";
  }
}

header {
  grid-area: header;
}
main {
  grid-area: main;

  @media (min-width:43rem) {
    padding-right: 12px;
  }
}
nav {
  grid-area: nav;
  border-left: 1px solid;
  padding-left: 12px;
  
  @media (min-width:43rem) {
    padding-top: 12px;
  }

  h2 {
    border: 0;
  }
}
footer {
  grid-area: footer;
}